html,
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#map {
    z-index: 1;
    width: 100dvw;
    height: 100dvh;
}
#tooltip {
    pointer-events: none;
    font-family: sans-serif;
    position: absolute;
    z-index: 9;
    font-size: 12px;
    padding: 8px;
    background: #000;
    color: #fff;
}
/* #orientation-tip {
    width: 100dvw;
    height: 100dvh;
    place-content: center;
} */
#blurbg {
    width: 100dvw;
    height: 100dvh;
    place-content: center;
    backdrop-filter: blur(3px);
}
#text {
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 2.5em;
}

/* @media (orientation: portrait) {
  #map {
    display: none;
  }
  #orientation-tip {
    display: grid;
    background-image: url('/phone.png');
    background-size: cover; 
  }
}

@media (orientation: landscape) {
  #map {
    height: 100vh;
  }
  #orientation-tip {
    display: none;
  }
} */